<p class="result-debug">
  <ul>
    <li>EDS Supplied FullText Links</li>
      <ul>
      <% if result.fulltext_links %>
        <% result.fulltext_links&.each do |cl| %>
          <li><%= link_to(cl["Name"], cl["Url"], class: 'bento-link') %></li>
        <% end %>
      <% else %>
        <li>None</li>
      <% end %>
      </ul>
  </ul>

  <ul>
    <li>EDS Supplied Record Links</li>
      <ul>
      <% if result.record_links %>
        <% result.record_links&.each do |cl| %>
          <li><%= link_to(cl["Name"], cl["Url"], class: 'bento-link') %></li>
        <% end %>
      <% else %>
        <li>None</li>
      <% end %>
      </ul>
  </ul>

  <ul><li><%= link_to('EDS UI Detail Link', result.url, class: 'bento-link') %></li></ul>

  <ul>
    <% if result.openurl %>
    <li>
      <%= link_to('SFX Constructed from metadata', result.openurl, class: 'bento-link') %>
    </li>
    <% else %>
      <li>No SFX Constructed from metadata available</li>
    <% end %>
  </ul>

  <ul>
    <% if result.marc_856 %>
    <li>
      <%= link_to("MARC 856", result.marc_856, class: 'bento-link') %>
    </li>
    <% else %>
      <li>No MARC 856</li>
    <% end %>
  </ul>

  <ul><li>Winner: <%= result.winner || 'no fulltext link found' %></li></ul>
<p>
