<div id="box-<%= id %>" class="wrap-results grid-item region" data-region="<%= heading %>">
  <h2 class="title"><%= heading %></h2>
  <p class="results-desc"><%= sanitize(description) %></p>
  <div id="<%= id %>" class="<%= id %>">
    Loading results...
    <i class="fa fa-spinner fa-spin"></i>
  </div>
  <div class="advsearch">
    <p class="advsearch-desc"><%= sanitize(advsearch) %></p>
  </div>
</div>
