<div class="wrap-result">

  <% if result.thumbnail %>
    <div class="result-image">
      <%= image_tag(result.thumbnail, alt: "Cover for #{result.title}") %>
    </div>
  <% end %>

  <h3 class="result-title">
    <span class="sr">Title: </span><%= link_to(result.title, result.url, class: 'bento-link', data: {type: "Title"} ) %>
  </h3>
  <p>
    <% if result.type %>
      <span class="result-type"><span class="sr">Type: </span><%= result.type %></span>
    <% end %>
    <% if result.year.present? && params[:target] == 'books' %>
      <span class="result-year">Published <%= result.year %></span>
    <% end %>
  </p>
  <div class="result-body">
    <% if result.authors %>
      <p class="result-authors">
        <span class="sr">Authors: </span>
        <% result.truncated_authors.each do |author| %>
        <span class="result-author">
          <%= link_to(author[0], author[1], data: {type: "Author"} ) unless author == "et al" %>
          <%= author if author == "et al" %>
        </span>
        <% end %>
      </p>
    <% end %>

    <% if result.blurb %>
      <p class="result-blurb">
        <%= sanitize(result.blurb) %><br />
      </p>
    <% end %>

    <% if result.in %>
      <p class="result-pubinfo">
        <span class="sr">Published: </span>
        In <i><%= result.in %></i> <%= result.citation %> (<%= result.year %>)
      </p>
    <% end %>

    <% if result.subjects.present? %>
      <div class="result-subjectheadings">
        <span class="sr">Subjects: </span>
        <ul class="list-subjects">
        <% result.truncated_subjects.each do |subject| %>
          <li class="result-subjectheading">
            <%= link_to(subject[0], subject[1], data: {type: "Subject"} ) %>
          </li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <% if result.location.present? %>
    <div id="stale_locations_<%= result.clean_an %>" class="result-local-locations">
      <p class="sr">Library locations: </p>
      <ul class="list-local-locations">
      <% result.location.each do |location| %>
        <li class="result-local-location">
          <%= location[0] %>: <%= location[1] %> (not live)
        </li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if result.aleph_record? && params[:target] == 'books' %>
    <div id="<%= result.clean_an %>" class='realtime_status result-local-locations' data-an="<%= result.clean_an %>">
      Loading realtime status...
      <i class="fa fa-spinner fa-spin"></i>
    </div>
  <% end %>

  <% if result.db_source.present? && session[:debug] %>
    <p class="result-pubinfo">
      Source DB: <%= result.db_source[0] %> (<%= result.db_source[1] %>)
    </p>
  <% end %>

  <% if result.get_it_url.present? %>
    <div class="result-get">
      <%= link_to(result.get_it_label, result.get_it_url, class: 'button button-primary', data: {type: "Get"}) %>
    </div>
  <% end %>

  <% if session[:debug] %>
    <p class="result-debug">
      EDS Supplied CustomLinks
      <ul>
        <% if result.custom_link %>
          <% result.custom_link&.each do |cl| %>
            <li><%= link_to(cl["Name"], cl["Url"], class: 'bento-link') %></li>
          <% end %>
        <% else %>
          <li>None</li>
        <% end %>
      </ul>

      EDS UI Detail Link (constructed)
      <ul><li><%= link_to('EDS UI Detail Link', result.url, class: 'bento-link') %></li></ul>

      GetIt Link (constructed sfx [non-book] or eds ui detail link [book])
      <ul><li><%= link_to('Get It Link', result.get_it_url, class: 'bento-link') %></li></ul>
    <p>
  <% end %>
</div>
