<div class="wrap-result">
  <% if Flipflop.enabled?(:local_browse) %>
    <% search_prefix = '/search/bento?q=' %>
  <% else %>
    <% search_prefix = ENV['EDS_PROFILE_URI'] %>
  <% end %>

  <% if result.thumbnail %>
    <div class="result-image">
      <%= image_tag(result.thumbnail, alt: "Cover for #{result.title}") %>
    </div>
  <% end %>

  <h3 class="result-title">
    <span class="sr">Title: </span><%= link_to(result.truncated_title.html_safe, full_record_link(result), class: 'bento-link', data: {type: "Title"} ) %>
  </h3>
  <div class="result-uniform-title">
    <% if result.uniform_title %>
      <span class="sr">Alternate Title: </span><%= result.uniform_title.html_safe %>
    <% end %>
  </div>
  <p>
    <% if result.type %>
      <span class="result-type"><span class="sr">Type: </span><%= result.type %></span>
    <% end %>
    <% if result.year.present? && params[:target] == 'books' %>
      <span class="result-year">Published <%= result.year %></span>
    <% end %>
  </p>
  <div class="result-body">
    <% if result.authors %>
      <p class="result-authors">
        <span class="sr">Authors: </span>
        <% result.truncated_authors.each do |author| %>
        <span class="result-author">
          <%= link_to(author[0], search_prefix + author[1], data: {type: "Author"} ) unless author == "et al" %>
          <%= author if author == "et al" %>
        </span>
        <% end %>
      </p>
    <% end %>

    <% if result.blurb %>
      <p class="result-blurb">
        <%= sanitize(result.blurb) %><br />
      </p>
    <% end %>

    <% if result.in %>
      <p class="result-pubinfo">
        <span class="sr">Published: </span>
        In <i><%= result.in %></i> <%= result.citation %> (<%= result.year %>)
      </p>
    <% end %>

    <% if result.subjects.present? %>
      <div class="result-subjectheadings">
        <span class="sr">Subjects: </span>
        <ul class="list-subjects">
        <% result.truncated_subjects.each do |subject| %>
          <li class="result-subjectheading">
            <%= link_to(subject[0], search_prefix + subject[1], data: {type: "Subject"} ) %>
          </li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <% if result.location.present? %>
    <div id="stale_locations_<%= result.clean_an %>" class="result-local-locations">
      <p class="sr">Library locations: </p>
      <ul class="list-local-locations">
      <% result.location.each do |location| %>
        <li class="result-local-location">
          <%= location[0] %>: <%= location[1] %> (not realtime)
        </li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if result.aleph_record? && params[:target] == 'books' %>
    <div id="<%= result.clean_an %>" class='realtime_status result-local-locations' data-an="<%= result.clean_an %>">
      Loading realtime status...
      <i class="fa fa-spinner fa-spin"></i>
    </div>
  <% end %>

  <% if result.aleph_cr_record? && params[:target] == 'books' %>
    <div id="<%= result.clean_an %>" class='realtime_status result-local-locations' data-an="<%= result.clean_an %>">
      Loading realtime status...
      <i class="fa fa-spinner fa-spin"></i>
    </div>
  <% end %>

  <% if result.db_source.present? && Flipflop.enabled?(:debug) %>
    <p class="result-pubinfo">
      Source DB: <%= result.db_source[0] %> (<%= result.db_source[1] %>)
    </p>
  <% end %>

  <div class="result-get">
    <% if result.getit_url.present? %>
      <%= link_to("View online", result.getit_url, class: 'online button button-primary green', data: {type: "Get"}) %>
    <% end %>

    <% if Flipflop.enabled?(:check_online) %>
      <% if result.getit_url.blank? && result.check_sfx_url.present? %>
        <%= link_to("Check for online access", result.check_sfx_url, class: 'online button-secondary', data: {type: "Check"}) %>
      <% end %>
    <% end %>

    <%= link_to("Details and requests", full_record_link(result), class: 'details button button-secondary', data: {type: "Detail"}) %>
  </div>

  <% if Flipflop.enabled?(:debug) %>
    <%= render partial: "debug", locals: { result: result } %>
  <% end %>
</div>
