<%= render partial: "form" %>

<div class="row bento-summary">
  <h3>Found</h3>
  <ul class="bento-summary-list">
    <% if box_enabled?('articles') %>
      <li data-region="articles"><span class="count"><i class="fa fa-spinner fa-spin"></i></span> Articles</li>
    <% end %>

    <% if box_enabled?('books') %>
      <li data-region="books"><span class="count"><i class="fa fa-spinner fa-spin"></i></span> Local Books</li>
    <% end %>

    <% if box_enabled?('worldcat') %>
      <li data-region="worldcat"><span class="count"><i class="fa fa-spinner fa-spin"></i></span> Worldwide Books</li>
    <% end %>

    <% if box_enabled?('website') %>
      <li data-region="google"><span class="count"><i class="fa fa-spinner fa-spin"></i></span> Webpages</li>
    <% end %>
  </ul>
</div>

<div class="row">
  <% if box_enabled?('books') %>
    <%= render partial: "placeholders", locals: { heading: 'Books', id: 'books_content', box_width: 6} %>
  <% end %>

  <% if box_enabled?('articles') %>
    <%= render partial: "placeholders", locals: { heading: 'Articles', id: 'articles_content', box_width: 6} %>
  <% end %>

  <% if box_enabled?('worldcat') %>
    <%= render partial: "placeholders", locals: { heading: 'WorldCat', id: 'worldcat_content', box_width: 6} %>
  <% end %>
</div>

<div class="row">
  <div class="col-sm-4">
    <h2>Databases</h2>
    Coming soon...
  </div>

  <div class="col-sm-4">
    <h2>Journals</h2>
    Coming soon...
  </div>

  <div class="col-sm-4">
    <h2>Other Resources</h2>
    Coming soon...
  </div>

</div>

<div class="row">
  <% if box_enabled?('media') %>
    <%= render partial: "placeholders", locals: { heading: 'Media and More', id: 'website_content'} %>
  <% end %>

  <% if box_enabled?('website') %>
    <%= render partial: "placeholders", locals: { heading: 'Website and Guides', id: 'website_content'} %>
  <% end %>
</div>

<%= render partial: "help" %>

<script>
  <% if box_enabled?('articles') %>
    <%= render partial: "trigger_search", locals: { target: 'articles', id: 'articles_content'} %>
  <% end %>

  <% if box_enabled?('books') %>
    <%= render partial: "trigger_search", locals: { target: 'books', id: 'books_content'} %>
  <% end %>

  <% if box_enabled?('worldcat') %>
    <%= render partial: "trigger_search", locals: { target: 'worldcat', id: 'worldcat_content'} %>
  <% end %>

  <% if box_enabled?('website') %>
    <%= render partial: "trigger_search", locals: { target: 'google', id: 'website_content'} %>
  <% end %>
</script>
