<%= render partial: "form" %>

<div class="results-summary">
  <p>
    <span class="search-summary">Showing results for "<%= params[:q] %>" sorted by relevance</span>
    <span class="title">Found: </span>

    <a href="#box-books_content" data-type="Jump to books"><span class="results-summary-item" data-region="books">Books and media <span class="count"><i class="fa fa-spinner fa-spin"></i></span></span></a>

    <a href="#box-articles_content" data-type="Jump to articles"><span class="results-summary-item" data-region="articles">Articles and journals <span class="count"><i class="fa fa-spinner fa-spin"></i></span></span></a>

    <a href="#box-website_content" data-type="Jump to website"><span class="results-summary-item" data-region="google">Libraries website and guides <span class="count"><i class="fa fa-spinner fa-spin"></i></span></span></a>
  </p>
</div>

<% if Flipflop.full_record_toggle_button? %>
  <div class="nudge-fullrecord-toggle">
    <p><%= full_record_toggle_link %></p>
  </div>
<% end %>

<div class="nudge-feedback">
  <p>Not finding what you need? <%= link_to('Ask us', 'https://libraries.mit.edu/ask/') %></p>
</div>

<div id="hint"></div>

<div class="gridband layout-2c">
  <%= render partial: "placeholders", locals: { heading: 'Books and media', id: 'books_content', description: "Books, ebooks, audio books, music, and videos at MIT. <a class='wc-link' href='https://mit.worldcat.org/search?qt=wc_org_mit&qt=affiliate&q=#{params[:q]}'>Expand search to libraries around the world</a>", advsearch: "<a href='https://mit.worldcat.org/search?qt=wc_org_mit&qt=affiliate&q=#{params[:q]}'>Expand your search to libraries around the world</a> or try <a href='https://libraries.mit.edu/bartonplus-advanced'>advanced search</a>" } %>

  <%= render partial: "placeholders", locals: { heading: 'Articles and journals', id: 'articles_content', description: 'Articles from a variety of periodicals, including scholarly journals and magazines at MIT. <a href="https://libraries.mit.edu/search/">More search options</a>', advsearch: "...or try <a href='https://libraries.mit.edu/bartonplus-advanced'>advanced search</a>" } %>
</div>

<div class="gridband layout-2c">
  <%= render partial: "placeholders", locals: { heading: 'Library website and guides', id: 'website_content', description: 'MIT Libraries website and research guides.', advsearch: '' } %>

  <%= render partial: "other_resources" %>
</div>

<%= render partial: "help" %>

<script>
  <%= render partial: "trigger_search", locals: { target: 'articles', id: 'articles_content'} %>

  <%= render partial: "trigger_search", locals: { target: 'books', id: 'books_content'} %>

  <%= render partial: "trigger_search", locals: { target: 'google', id: 'website_content'} %>

  <%= render partial: "trigger_hint" %>
</script>
