<% if current_page?(:controller => 'search', :action => 'search') %>
  <div class="gridband layout-4q title-area">
    <h2 class="title title-page has-subline">More
      <% if params[:target] == ENV['PRIMO_BOOK_SCOPE'] %>
        <% id = 'books_content' %>
        books and media
      <% elsif params[:target] == ENV['PRIMO_ARTICLE_SCOPE'] %>
        <% id = 'articles_content' %>
        articles and book chapters
      <% end %>

      for

      <span class="search-string">"<%= params[:q] %>"</span>
    </h2>
    <p class="subline copy-sup">
        <%= page_entries_info @pageable_results, entry_name: 'result' %>, sorted by relevance
    </p>
    <p class="subline">
      <%= link_to('Back to all results', search_bento_path(q: params[:q])) %> or <%= link_to('create a new search', root_path) %>
    </p>

  </div>

  <div class="gridband layout-3q1q view-more">
    <div class="col3q">

<% end %>

    <div id="<%= id %>" class="<%= id %>">
      <% @results['results'].each do |result| %>
        <%= render partial: "result", locals: {result: result} %>
      <% end %>
    </div>

    <%= render partial: "view_all_link" %>

<% if current_page?(:controller => 'search', :action => 'search') %>
    </div>
    <div class="col1q-r">
    <div class="bit">
      <h3>Other options</h3>
      <p>If you're not finding what you need, you can try one of these: </p>
      <ul>
        <li class=""><a href="https://libraries.mit.edu/bartonplus">Search in BartonPlus</a></li>
        <li class=""><a href="https://libraries.mit.edu/worldcat">Search in WorldCat</a></li>
        <li class=""><a href="https://libraries.mit.edi/ask">Ask a Librarian</a></li>
      </ul>
    </div>
    </div>
  </div>
<% end %>
