<h3 class="section-title">Availability</h3>
<% if @record.fulltext_link.present? %>
  <div class="link-fulltext">
    <%# We used to have logic here that decided which HTML to display. However,
        there are at least 5 different availability situations, requiring 4
        different HTML chunks, which got to be too heavy for a view. So the
        complicated logic for picking which HTML to display is now in the
        helper. The output of that logic is the name of the partial to use;
        it also sets any instance variables that may be required to render
        said partial. This leads to the somewhat odd situation of having a
        variable name rather than a string in this render: call, because we
        don't know which HTML chunk we want to render until runtime. %>
    <%= render partial: availability_action %>
  </div>
<% end %>

<%# using try instead of .present? due to how edsapi dynamically adds this
    element. It's either there or a no method error. %>
<% if @record.try(:eds_extras_NoteSerial) &&
      summary_holdings(@record.eds_extras_NoteSerial).present? %>

  <div id="full-holdings" class="wrap-holdings discovery-full-record-holdings-info">
    <h3 class="subtitle3">Summary of volumes that MIT owns</h3>
    <div class="holdings">
      <% summary_holdings(@record.eds_extras_NoteSerial).each do |sh| %>
        <%= safe_output(sh) %><br />
      <% end %>
    </div>
  </div>
<% end %>

<%# This div id is used by the javascript - don't move or change it.) %>
<div id="full-avail" class="discovery-full-record-availability-info">
  <% if local_record? %>
    Loading availability information <i class="fa fa-spinner fa-spin"></i>
    <script>
      RealtimeItem( "<%= clean_an %>", "<%= @record.eds_document_oclc %>", "<%= scan? %>" );
    </script>
  <% end %>
</div>
