<h3 class="section-title">Availability</h3>
<% if @record.fulltext_link.present? %>
  <div class="link-fulltext">
    <%= render partial: availability_action %>
  </div>
<% end %>

<%# using try instead of .present? due to how edsapi dynamically adds this
    element. It's either there or a no method error. %>
<% if @record.try(:eds_extras_TOC) %>
  <div id="full-holdings" class="discovery-full-record-holdings-info">
    <h3 class="subtitle3">Holdings</h3>
    <%# todo: this will need updating once Ebsco resolves a data mapping
        problem described here
        https://mitlibraries.atlassian.net/browse/DI-547 %>
    <div class="holdings"><%= safe_output(@record.eds_extras_TOC) %></div>
  </div>
<% end %>

<%# This div id is used by the javascript - don't move or change it.) %>
<div id="full-avail" class="discovery-full-record-availability-info">
  <% if local_record? %>
    Loading availability information <i class="fa fa-spinner fa-spin"></i>
    <script>
      RealtimeItem( "<%= clean_an %>", "<%= @record.eds_document_oclc %>", "<%= scan? %>" );
    </script>
  <% end %>
</div>
