<h2 class="subtitle2">Availability</h2>
<% if @record.fulltext_link.present? %>
  <div class="link-fulltext">

    <%# SFX links that we don't know for sure if we own; auth happens at SFX %>
    <% if check_online? %>
      <a class="button button-secondary" href="<%= @record.fulltext_link[:url] %>">Check for online copy</a>

    <%# Links is expiring / restricted so we can only show to affiliates %>
    <% elsif guest_and_restricted_link? %>
      <div class="inline-action well signin-fulltext">
        <p class="message">Full text available</p>
        <div class="actions">
          <a class="button button-secondary" href="<%= login_url %>">Sign in for access</a>
        </div>
      </div>

    <%# Restricted expiring link, but current user is allowed to access it.
        We'll get a fresh version of the link and redirect them to it %>
    <% elsif restricted_link? %>
      <%= link_to('View online', record_direct_link_path(params[:db_source], params[:an]), class: 'button button-primary green') %>

    <%# Non restricted full text link (usually authenticated through SFX) %>
    <% elsif relevant_fulltext_link?(@record.fulltext_link) %>
      <a class="button button-primary green" href="<%= @record.fulltext_link[:url] %>" class="btn button-primary">View online</a>
    <% end %>
  </div>
<% end %>

<%# using try instead of .present? due to how edsapi dynamically adds this
    element. It's either there or a no method error. %>
<% if @record.try(:eds_extras_TOC) %>
  <div id="full-holdings" class="discovery-full-record-holdings-info">
    <h3 class="subtitle3">Holdings</h3>
    <%# todo: this will need updating once Ebsco resolves a data mapping
        problem described here
        https://mitlibraries.atlassian.net/browse/DI-547 %>
    <%= safe_output(@record.eds_extras_TOC) %>
  </div>
<% end %>

<%# This div id is used by the javascript - don't move or change it.) %>
<div id="full-avail" class="discovery-full-record-availability-info">
  <% if local_record? %>
    Loading availability information <i class="fa fa-spinner fa-spin"></i>
    <script>
      RealtimeItem( "<%= clean_an %>", "<%= @record.eds_document_oclc %>" );
    </script>
  <% end %>
</div>
