<% if Flipflop.enabled?(:local_browse) %>
  <% search_prefix = '/search/bento?q=' %>
<% else %>
  <% search_prefix = ENV['EDS_PROFILE_URI'] %>
<% end %>

<% if @record.eds_cover_thumb_url.present? %>
<div class="record-image">
  <%= force_https_image_tag(@record.eds_cover_thumb_url, alt: "Cover for #{@record.title}") %>
</div>
<% end %>

<h2 class="record-title">
  <span class="sr">Title: </span>
  <% if @record.title.present? %>
    <%= @record.title %>
  <% else %>
    No title provided for this item.
  <% end %>
</h2>
<p>
<% if @record.eds_publication_type == 'Periodical' %>
  <span class="record-type">
    <span class="sr">Type: </span> Periodical </span>
    <% if @record.eds_publication_year.present? %>
      <span class="record-year">
        Published <%= @record.eds_publication_year %>
      </span>
    <% end %>
<% elsif @record.eds_publication_type == 'Academic Journal' %>
  <% if @record.eds_source_title.present? %>
    <span class="record-type">
      In <%= link_to(@record.eds_source_title, search_prefix + "JN+\"#{@record.eds_source_title}\"", data: {type: "Journal"} ) %>
      <% if @record.eds_volume.present? %>
        volume <%= @record.eds_volume %>
      <% end %>
      <% if @record.eds_issue.present? %>
        issue <%= @record.eds_issue %>
      <% end %>
      <% if @record.eds_publication_year.present? %>
        (<%= @record.eds_publication_year %>)
      <% end %>
    </span>
  <% end %>
<%# Includes Books; is catchall for other types not specified in wireframes %>
<% else %>
  <% if @record.eds_publication_type.present? %>
    <span class="record-type"><span class="sr">Type: </span>
      <%= @record.eds_publication_type %>
    </span>
  <% end %>
  <% if @record.eds_publication_year.present? %>
    <span class="record-year">
      Published <%= @record.eds_publication_year %>
    </span>
  <% end %>
<% end %>
</p>

<% if @record.eds_authors.present? %>
  <p class="record-authors">
    <span class="sr"><%= "Author".pluralize(@record.eds_authors.count) %>: </span>
    <% @record.eds_authors.each do |author| %>
      <span class="record-author">
        <% if author == "et al" %>
          <%= author %>
        <% else %>
          <%= link_to(author, search_prefix + "AU+\"#{author}\"", data: {type: "Author"} ) %> <%# semicolons between authors added by css %>
        <% end %>
      </span>
    <% end %>
  </p>
<% end %>
