<% if Flipflop.enabled?(:local_browse) %>
  <% search_prefix = '/search/bento?q=' %>
<% else %>
  <% search_prefix = ENV['EDS_PROFILE_URI'] %>
<% end %>

<h3 class="section-title">More information</h3>
<ul class="list-moreinfo">
  <% if @record.eds_publication_type.present? %>
    <li>
      <span class="label">Document type:</span> <%= @record.eds_publication_type %>
    </li>
  <% end %>

  <% if @record.eds_source_title.present? %>
    <li>
      <span class="label">Source:</span> <%= @record.eds_source_title %>
    </li>
  <% end %>

  <% if @record.eds_authors.present? %>
    <li>
      <span class="label"><%= "Author".pluralize(@record.eds_authors.count) %>:</span>
      <% @record.eds_authors.each do |author| %>
        <span class="record-author"><%= author %></span>
      <% end %>
    </li>
  <% end %>

  <% if clean_affiliations.present? %>
    <li>
      <span class="label"><%= "Affiliation".pluralize(clean_affiliations.count) %>:</span>
      <% clean_affiliations.each do |aff| %>
        <%= aff %><% if aff != clean_affiliations.last %>;<% end %>
      <% end %>
    </li>
  <% end %>

  <% if @record.eds_publication_info.present? %>
    <li>
      <span class="label">Publication info:</span> <%= safe_output(@record.eds_publication_info) %>
    </li>
  <% end %>

  <% if @record.eds_isbns.present? %>
    <li>
      <span class="label">ISBN:</span> <% @record.eds_isbns.each do |isbn| %>
        <span class="isbn"><%= isbn %></span><% if isbn != @record.eds_isbns.last %>,<% end %>
      <% end %>
    </li>
  <% end %>

  <% if @record.eds_issns.present? %>
    <li>
      <span class="label">ISSN:</span> <% @record.eds_issns.each do |issn| %>
        <span class="isbn"><%= issn %></span><% if issn != @record.eds_issns.last %>,<% end %>
      <% end %>
    </li>
  <% end %>

  <% if @record.eds_document_doi.present? %>
    <li>
      <span class="label">DOI:</span> <%= @record.eds_document_doi %>
    </li>
  <% end %>

  <% if clean_language.present? %>
    <li>
      <span class="label"><%= "Language".pluralize(clean_language.count) %>:</span> <%= clean_language.join(',') %>
    </li>
  <% end %>

  <% if @record.eds_physical_description.present? %>
    <li>
      <span class="label">Physical description:</span> <%= safe_output(@record.eds_physical_description) %>
    </li>
  <% end %>

  <% if @record.eds_database_name.present? %>
    <li>
      <span class="label">Database:</span> <%= @record.eds_database_name %>
    </li>
  <% end %>

  <%# The wireframes also included edition (for books) and serial publication
      dates and frequency (for serials), but this info isn't exposed by the
      EBSCO gem, so we're leaving it out. If this makes it hard for users to
      evaluate documents, we may have to look harder for that information. %>
</ul>

<% if @subjects.present? %>
  <h3 class="section-title"><%= "Subject".pluralize(@subjects.count) %>:</h3>
  <ul class="list-subjects">
    <% @subjects.each do |subject| %>
      <li>
        <%= link_to(subject, search_prefix + subject, data: {type: "Subject"} ) %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @keywords.present? %>
  <h3 class="section-title">Author supplied <%= "Keyword".pluralize(@keywords.count) %>:</h3>
  <ul class="list-keywords">
    <% @keywords.each do |keyword| %>
      <li>
        <%= link_to(keyword, search_prefix + keyword, data: {type: "Subject"} ) %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @record.eds_abstract.present? %>
  <h3 class="section-title">Abstract/summary</h3>
  <div class="section-content">
    <%= safe_output(@record.eds_abstract) %>
  </div>
<% end %>

<%# using try instead of .present? due to how edsapi dynamically adds this
      element. It's either there or a no method error. %>
 <% if @record.try(:eds_extras_TOC) %>
  <h3 class="section-title">Content notes</h3>
  <div class="section-content">
    <%= safe_output(@record.eds_extras_TOC) %>
  </div>
<% end %>

<% if @record.eds_notes.present? %>
  <h3 class="section-title">Notes</h4>
  <div class="section-content">
    <%= safe_output(@record.eds_notes) %>
  </div>
<% end %>

<% if clean_other_titles.present? %>
  <h3 class="section-title">Other <%= "title".pluralize(clean_other_titles.count) %></h3>
  <ul class="list-alttitles">
    <% clean_other_titles.each do |title| %>
      <li>
        <%= title %>
      </li>
    <% end %>
  </ul>
<% end %>
