<%= render partial: "search/form" %>
<% if @previous.present? %>
  <%= link_to('Back to search results', search_bento_path(q: @previous)) %>
<% end %>

<div class="gridband layout-3q1q">
  <div class="col3q box-content region" data-region="Full record">

    <div class="discovery-full-record-basic-info">
      <%= render partial: "basic_info" %>
    </div>

    <div class="discovery-full-record-basic-info">
      <%= render partial: "availability" %>
    </div>

    <div class="discovery-full-record-basic-info">
      <%= render partial: "more_information" %>
    </div>

    <%# 'Show even more information' section will go here. %>
  </div>

  <div class="col1q-r">
    <%= render partial: "sidebar" %>
  </div>
</div>
