<%= render partial: "search/form" %>
<% if path_to_previous.present? %>
  <%= link_to('Back to search results', search_bento_path(q: @previous)) %>
<% end %>

<div class="gridband layout-3q1q wrap-full-record">
  <div class="col3q box-content region full-record" data-region="Full record">

    <%# eds_access_level 3+ have no guest level restrictions to require login %>
    <% if guest? && @record.eds_access_level.to_i < 3 %>
      <div class="alert info signin-guest">
        <p class="message">You are browsing as a guest. Sign in for full access.</p>
        <div class="actions"><a class="button button-primary" href="<%= login_url %>">Sign in</a></div>
      </div>
    <% end %>

    <div class="discovery-full-record-basic-info">
      <%= render partial: "basic_info" %>
    </div>

    <div class="discovery-full-record-availability">
      <%= render partial: "availability" %>
    </div>

    <div class="discovery-full-record-more-info">
      <%= render partial: "extended_info" %>
    </div>

    <%# 'Show even more information' section will go here. %>
  </div>

  <div class="col1q-r">
    <%= render partial: "sidebar" %>
  </div>
</div>

<% content_for(:head) do %>
  <meta name="DC.title" content="<%= @record.title %>" />
  <meta name="DC.type" content="<%= @record.eds_publication_type %>" />
  <meta name="DC.date" content="<%= @record.eds_publication_year %>" />
  <% @record.eds_authors.each do |author| %>
    <meta name="DC.creator" content="<%= author %>" />
  <% end %>
<% end %>
