<%= render partial: "search/form" %>
<% if @previous.present? %>
  <%= link_to('Back to search results', search_bento_path(q: @previous)) %>
<% end %>

<div class="gridband layout-3q1q">
  <div class="col3q box-content region" data-region="Full record">

    <div class="discovery-full-record-basic-info">
      <%= render partial: "basic_info" %>
    </div>

    <br />

    <% if local_record? %>
      <div id="full-avail" class="discovery-full-record-availability-info">
        <%= render partial: "availability" %>
      </div>

      <br />

      <% if local_book? %>
        <script>RealtimeItem( "<%= clean_an %>" );</script>
      <% else %>
        Call for realtime holdings instead of items.
      <% end %>

    <% end %>

    <div class="discovery-full-record-basic-info">
      <%= render partial: "extended_info" %>
    </div>

  </div>
  <div class="col1q-r">
    <%= render partial: "sidebar" %>
  </div>
</div>
