<p class="sr">Library locations: </p>
<ul class="list-local-locations">
<% @status.each do |s| %>
  <li class="result-local-location">
    <div class="location-wrap">
      <span class="location">
        <span class="library"><%= s[:library] %></span>
        <span class="collection"><%= s[:collection] %>:</span>
        <span class="callno"><%= s[:call_number] %></span>
        <span class="desc">
          <% if s[:description].present? %> <%= s[:description] %> <% end %> 
        </span>
        <span class="sr"><%= s[:label] %></span> 
      </span>
      <span class="location-actions">
        <a href="<%= map_link(s[:library]) %>"
           class="btn button-subtle map-link">
           <i class="fa fa-map-marker" aria-hidden="true"></i>
           <span class="sr">View <%= s[:library] %> location map</span>
        </a>        
      </span>
    </div>
    <div class="availability-wrap">

      <% if s[:available?] %>
        <span class="availability-status">
          <i class="fa fa-check" aria-hidden="true"></i>
          Available
        </span>
        <span class="availability-actions">

          <% if archives?(s[:library]) %>

            <a class="btn button-secondary button-small" href="https://libraries.mit.edu/archives/">Contact Us</a>

          <% elsif reserve?(s[:collection]) %>

            <a class="btn button-secondary button-small" href="">Place Hold</a>

          <% elsif media?(s[:call_number]) %>

            <a class="btn button-secondary button-small" href="">Place Hold</a>

          <% else %>

            <a class="btn button-secondary button-small" href="">Place Hold</a>

            <a class="btn button-secondary button-small" href="">Request Scan</a>

          <% end %>

        </span>

      <% else %>
        <span class="availability-status">
          <i class="fa fa-times" aria-hidden="true"></i>
          Not available at MIT
        </span>
        <span class="availability-actions">
          <a class="btn button-subtle button-small" href="">Recall (7+ days)</a>
          <a class="btn button-secondary button-small" href="">Get it with ILL (3-4 days)</a>
        </span>

      <% end %>

    </div>
  </li>
<% end %>
</ul>
