<p><%= @msg %></p>

  <p>Contact Name: <%= @contact_name %></p>

  <p>Contact Email: <%= @contact_email %></p>

  <p>Client IP: <%= @ip %></p>

  <p>Originating page: <%= @page %></p>

  <p>User Agent: <%= @ua %></p>
