<p>The following feedback was submitted.</p>

  <p><%= @msg %></p>

  <p>Contact Email: <%= @contact_email %></p>

  <p>Client IP: <%= @ip %></p>

  <p>Originating page: <%= @page %></p>

  <p>User Agent: <%= @ua %></p>
