<h2 class="record-title">
  <span class="sr">Title: </span>
  <% if @record.title.present? %>
    <%= safe_output(@record.title) %>
  <% else %>
    No title provided for this item.
  <% end %>
</h2>

<span class="record-type">
  <span class="sr">Type: </span> <%= @record.content_format %> <%= @record.content_type %>
</span>

<% if @record.imprint.present? %>
  <span class="record-year">
    <%= @record.imprint %>
  </span>
<% end %>

<% if @record.authors.present? %>
  <p class="record-authors">

    <span class="sr"><%= "Author".pluralize(@record.authors.count) %>: </span>

    <% @record.authors.each do |author| %>
      <span class="record-author">
        <% if author == "et al" %>
          <%= author %>
        <% else %>
          <%= author %>
          <%# link_to(author, search_prefix + "AU+\"#{author}\"", data: {type: "Author"} ) %> <%# semicolons between authors added by css %>
        <% end %>
      </span>
    <% end %>

  </p>
<% end %>
