<h2 class="title title-page">Give us feedback on the new search</h2>

<%= form_tag(feedback_path, class: 'form-horizontal bento-feedback') do %>
  <%= hidden_field_tag 'previous_page', @_request.env['HTTP_REFERER'] %>

  <div class="field-wrap">
    <%= label_tag 'feedback_message', 'What did you think of the new search?', class: 'field-label' %>
    <%= text_area_tag 'feedback_message', nil, class: 'field field-textarea bento-field-textarea', required: true %>
  </div>

  <div class="field-wrap">
    <%= label_tag 'contact_name', 'Your name (optional)', class: 'field-label' %>
    <%= text_field_tag 'contact_name', nil, class: 'field field-text bento-field-text' %>
  </div>

  <div class="field-wrap">
    <%= label_tag 'contact_email', 'Contact Email (optional)', class: 'field-label' %>
    <%= email_field_tag 'contact_email', nil, class: 'field field-email bento-field-email' %>
  </div>

  <div class="field-wrap">
    <%= recaptcha_tags unless Rails.env.test? %>
  </div>

  <div class="field-wrap">
    <%= submit_tag "Send Feedback", class: 'btn button-primary' %>
  </div>
<% end %>

<script>
  $(".bento-feedback").validate();
</script>
