<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= content_for?(:title) ? yield(:title) : " Search | MIT Libraries" %></title>
<%= csrf_meta_tags %>

<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
<![endif]-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic&subset=latin,latin-ext" type="text/css">
<%= stylesheet_link_tag "application", :media => "all" %>

<!-- For all other devices -->
<!-- Size should be 32 x 32 pixels -->
<%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'></script>

<%= javascript_include_tag "application" %>
<% if (ENV['GOOGLE_ANALYTICS']) %>
<script type="text/javascript">
  // Google Analytics

  (function(i,s,o,g,r,a,m){
    i['GoogleAnalyticsObject']=r;
    i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)
    };
    i[r].l=1*new Date();
    a=s.createElement(o);
    m=s.getElementsByTagName(o)[0];
    a.async=1;
    a.src=g;
    m.parentNode.insertBefore(a,m);

  }(window,document,'script','https://www.google-analytics.com/analytics.js','ga'));

  ga('create', '<%= ENV['GOOGLE_ANALYTICS'] %>', 'auto', {allowLinker: true});
  <% if (ENV['GOOGLE_ANALYTICS_LINKED_DOMAINS']) %>
  ga('require', 'linker');
  ga('linker:autoLink', <%= raw ENV['GOOGLE_ANALYTICS_LINKED_DOMAINS'].split(',') %>);
  <% end %>
  ga('send', 'pageview');

  // Interaction tracking
  $(document).ready(function(e) {
    TrackLinks( $( 'a' ) );
  });

</script>
<% end %>
