<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: "layouts/head" %>
  </head>
  <body class="app-bento">
    <a id="skip" class="skip sr sr-focusable" href="#content-main">Skip to main content</a>

    <div class="wrap-page">

      <%= render partial: "layouts/global_alert" %>

      <%= render partial: "layouts/site_header" %>

      <%= render partial: "layouts/breadcrumbs" %>

      <div class="wrap-outer-content layout-band">
        <div class="wrap-content">
          <main id="content-main" class="content-main" role="main">
            <%= render partial: "layouts/flash" %>

            <%= yield %>

            <% unless current_page?(:controller => 'feedback', :action => 'index') %>
              <%= render partial: "layouts/about-bento" %>
            <% end %>

          </main>
          <!-- close content-main -->
        </div>
      </div>

      <script src="https://use.fontawesome.com/38304317ff.js"></script>

      <footer>
        <%= render partial: "layouts/site_footer" %>
        <%= render partial: "layouts/institute_footer" %>
      </footer>
    </div>
    <!-- close wrap-page -->
  </body>
</html>
