<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: "layouts/head" %>
  </head>
  <body class="app-bento">
    <a id="skip" class="skip sr sr-focusable" href="#content-main">Skip to main content</a>

    <div class="wrap-page">

      <%= render partial: "layouts/global_alert" %>

      <%= render partial: "layouts/site_header" %>

      <%= render partial: "layouts/breadcrumbs" %>

      <div class="wrap-outer-content layout-band">
        <div class="wrap-content">
          <main id="content-main" class="content-main" role="main">
            <%= render partial: "layouts/flash" %>

            <%= yield %>

            <%= render partial: "layouts/about-bento" %>

          </main>
          <!-- close content-main -->
        </div>
      </div>
      <%= render partial: "layouts/site_footer" %>
      <%= render partial: "layouts/institute_footer" %>
    </div>
    <!-- close wrap-page -->
  </body>
</html>
