<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: "layouts/head" %>
  </head>
  <body class="app-bento">
    <a id="skip" class="skip sr sr-focusable" href="#content-main">Skip to main content</a>

    <div class="wrap-page">

    <div class="wrap-notices info layout-band">
      <div class="wrap-notice">
        <div class="alert alert-global" role="alert">
          <p>This is a beta service. Try it out or <a href="http://libraries.mit.edu">return to our main site</a>.</p>
        </div>
      </div>
    </div>

      <%= render partial: "layouts/site_header" %>

      <div class="wrap-outer-content layout-band">
        <div class="wrap-content">
          <main id="content-main" class="content-main" role="main">
            <%= render partial: "layouts/flash" %>
            <%= yield %>
          </main>
          <!-- close content-main -->
        </div>
      </div>
      <%= render partial: "layouts/site_footer" %>
      <%= render partial: "layouts/institute_footer" %>
    </div>
    <!-- close wrap-page -->
  </body>
</html>
